.control-dots {
  position: absolute !important;
  /* top: 10px !important; */
  bottom: 0px !important;
  margin: 0 !important;
  padding: 0 !important;
  text-align: center !important;
  width: 100% !important;
  z-index: 1 !important;
}


