.control-dots {
  position: absolute !important;
  bottom: 0px !important;
  margin: 0 !important;
  padding: 0 !important;
  text-align: center !important;
  width: 100% !important;
  z-index: 1 !important;
}

.p-dialog .p-dialog-header {
  padding-top: 1rem;
  padding-bottom: 0.7rem;
}

.p-dialog .p-dialog-header .p-dialog-title {
  font-weight: 600;
  font-size: 1rem;
}

.css-1u9des2-indicatorSeparator {
  display: none;
}
