.toc li {
  position: relative;
  padding-left: 1.5rem;
  cursor: pointer;
  font-size: 16px;
}

.toc li .dot {
  position: absolute;
  left: 0;
  top: 6px;
  width: 8px;
  height: 8px;
  border-radius: 9999px;
  background-color: #174c8f;
  opacity: 0;
  transition: all 0.3s ease;
  transform: scale(0.5);
}

.toc li.active .dot {
  opacity: 1;
  transform: scale(1);
}
