.main-box {
  position: relative !important;
  overflow-y: auto;
  height: 900px;
  border-radius: 15px;
  box-shadow: 0px 0px 5px #aaa9a9;
  margin: 50px 10px 0px 0px !important;
  width: 500px !important;
}

.main-box::-webkit-scrollbar {
  width: 0px;
  visibility: hidden;
}

.main-box::-webkit-scrollbar-thumb {
  visibility: hidden;
}

.heading {
  font-size: 15px !important;
  font-family: "Poppins", sans-serif !important;
  letter-spacing: 0.5px !important;
  color: #000;
  font-weight: 600 !important;
}

.fields {
  width: 450px !important;
  padding: 12px 2px 2px 2px;
  margin-bottom: 15px;
  border-radius: 10px !important;
  box-shadow: 0px 0px 5px #aaa9a9 !important;
}

.text-field {
  border: none !important; /* Remove border */
  outline: none; /* Remove outline */
}
