.Edit-panel {
  background-color: rgba(255, 255, 255, 1) !important;
  z-index: 10;
  padding: 15px 15px;
  max-width: 450px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 90%;
  /* height: 600px; */
  border-radius: 15px !important;
  font-family: "Poppins", sans-serif !important;
}

.btn-flow2 {
  border-radius: 10px;
  background-color: cadetblue !important;
  font-family: "Poppins", sans-serif !important;
}
